@import "variables";

html,
body {
  font-family: $body-font-family;
  color: $primary-color;
  font-size: $base-font-size;
  line-height: normal;
  font-weight: 300;
}

strong,
.fontWeightBold {
  font-weight: 500;
}

p,
ul {
  margin: 0 0 $section-spacer-lg;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.textItalic {
  font-style: italic;
}

.fontWeightNormal {
  font-weight: normal;
}

.textCenter {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h2,
h3 {
  font-size: 24px;
}

h1 {
  font-size: 30px;
}

h1,
h2 {
  color: $turbo;
}

h3 {
  color: $white;
}

h4 {
  font-size: 16px;
}
