@import 'colors';

$body-font-family: 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
$base-font-size: 16px;
$primary-color: $mine-shaft;
$secondary-color: $cello;
$tertiary-color: $turbo;
$container-width: 1024px;
$lg-screen: 1200px;
$md-screen: 800px;
$section-spacer-lg: 40px;
$section-spacer-md: 30px;
$section-spacer-sm: 15px;
